body{

	background-color: blueviolet;

}


.eee{
border: double ;
 text-align: center;
	color: white;
	text-decoration: = overline;
text-decoration-color: white;
}
.kartinka{
border: double;
border-color: white;
}